.teamStandings{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin: 0 20px;
}

.teamStandingsTitle{
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.teamStandingsTable{
    width: 100%;
    border-spacing: 10px;
    border-collapse: collapse;
    
}

.teamstandingsTh{
    text-align: left;
    cursor: pointer;
}

.teamstandingsTd{
    font-weight: 300;
    display: flex;
    align-items: center;
}

.teamStandingsTr{
    text-align: center;
    cursor: pointer;
}

.border{
    border: solid;
    border-width: 1px 0;
}

.teamStandingsTdName{
    font-weight: 600;
    display: flex;
    align-items: center;
}

.teamImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.teamContainer{
    display: flex;
    align-items: center;
}

.tl-left{
    text-align: left;
}

.confButton{
    cursor: pointer;
    flex: 0.5   ;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.confButton:hover{
    background-color: #f5f5f5;
}

.hover-underline-animation-left {
    display: inline-block;
    position: relative;
    color: black
}

.hover-underline-animation-left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}   

.hover-underline-animation-left:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.hover-underline-animation-right{
    display: inline-block;
    position: relative;
    color: black
}

.hover-underline-animation-right:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-right:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.border-right{
    border-right: solid 0.5px black;
}

.border-left{
    border-left: solid 0.5px black;
}

.selected{
    background-color: #f5f5f5;
}