.playerSearchWrapper {
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.searchbar {
    padding: 20px;
    display: flex;
}

.searchList {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.searchListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 10px;
    cursor: pointer;
}

.searchListItem:hover {
    background-color: #f5f5f5;
}


.title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titleImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 1px rgba(0, 0, 0, 0.75) solid;
}