.DPOYCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.DPOYItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.DPOYTitleContainer {
    display: flex;
    align-items: center;
}

.DPOYTitleImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px rgba(0, 0, 0, 0.75) solid;
}

.DPOYTitleText {
    font-size: 25px;
    margin-left: 10px;
}

.DPOYStatsContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.DPOYStat {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.DPOYStatName {
    font-size: 15px;
    font-weight: normal;
    color: black;
}

.DPOYChart {
    flex: 1.5;
    margin: 0px 20px;
    margin-left: 0px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    ;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

}