.SMOYCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.SMOYItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.SMOYTitleContainer {
    display: flex;
    align-items: center;
}

.SMOYTitleImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px rgba(0, 0, 0, 0.75) solid;
}

.SMOYTitleText {
    font-size: 25px;
    margin-left: 10px;
}

.SMOYStatsContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SMOYStat {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.SMOYStatName {
    font-size: 15px;
    font-weight: normal;
    color: black;
}

.SMOYChart {
    flex: 1.5;
    margin: 0px 20px;
    margin-left: 0px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    ;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}